CT_CONFIG_VERSION="3"
CT_LOG_PROGRESS_BAR=n
CT_OMIT_TARGET_VENDOR=y

# this allows to build the config in CI (as root)
CT_EXPERIMENTAL=y
CT_ALLOW_BUILD_AS_ROOT=y
CT_ALLOW_BUILD_AS_ROOT_SURE=y

CT_ARCH_OR1K=y

# Use specific version of GCC
CT_GCC_SRC_DEVEL=y
CT_GCC_DEVEL_VCS_git=y
CT_GCC_DEVEL_URL="git://gcc.gnu.org/git/gcc.git"
CT_GCC_DEVEL_BRANCH="gcc-9_1_0-release"
CT_GCC_V_9=y

CT_LIBC_NONE=y

