CT_LOG_PROGRESS_BAR=n

# this allows to build the config in CI (as root)
CT_EXPERIMENTAL=y
CT_ALLOW_BUILD_AS_ROOT=y
CT_ALLOW_BUILD_AS_ROOT_SURE=y

CT_CONFIG_VERSION="3"
CT_PREFIX_DIR="${CT_PREFIX:-${CT_TOP_DIR}/toolchain}/${CT_HOST:+HOST-${CT_HOST}/}${CT_TARGET}"
CT_ARCH_OR1K=y
CT_GCC_V_9=y

CT_EXPERIMENTAL=y
CT_KERNEL_LINUX=y
CT_LOCAL_PATCH_DIR="${CT_TOP_DIR}/patches"
CT_LIBC_MUSL=y
CT_MUSL_SRC_DEVEL=y
CT_MUSL_DEVEL_REVISION="ac304227bb3ea1787d581f17d76a5f5f3abff51f"
CT_MUSL_PATCH_LOCAL_BUNDLED=y
