CT_LOG_PROGRESS_BAR=n

# this allows to build the config in CI (as root)
CT_EXPERIMENTAL=y
CT_ALLOW_BUILD_AS_ROOT=y
CT_ALLOW_BUILD_AS_ROOT_SURE=y

CT_CONFIG_VERSION="3"
CT_PREFIX_DIR="${CT_PREFIX:-${CT_TOP_DIR}/toolchain}/${CT_HOST:+HOST-${CT_HOST}/}${CT_TARGET}"
CT_ARCH_LM32=y
CT_GCC_V_9=y

CT_LIBC_NONE=y
